<h1>Lista de compras</h1>
<hr />
<div class="row">
  <div class="col-12 mb-4">
    <app-formulario
      (productoCreado)="onProductoCreado($event)"
    ></app-formulario>
  </div>
  <div class="col-6">
    <app-lita-productos
      [productos]="productosSeleccionados"
      (productoSelecionado)="onProductoSelecionado($event)"
    ></app-lita-productos>
  </div>
  <div class="col-6">
    <app-lita-productos
      [productos]="productosComprados"
      (productoSelecionado)="onProductoNoSelecionado($event)"
    ></app-lita-productos>
  </div>
</div>
